extends ../layout/index

block contenido
    main.container.mt-5
        .row.justify-content-center
            .col-md-5
                img(src="/img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa vel viverra varius. Donec vel ante pulvinar leo egestas porttitor. Nunc tempus pharetra ex eget rhoncus.
                p.text-justify Aliquam eleifend, tellus eu scelerisque dictum, est diam ornare nunc, eu rutrum diam nisi id nulla. Vivamus suscipit semper est sit amet vehicula. Morbi vitae condimentum elit, et molestie massa.
                p.text-justify Cras augue velit, venenatis vitae scelerisque vel, egestas id risus. Pellentesque eget lectus rutrum, dapibus nisi in, mollis ex. Nulla eget erat sem. Nam nibh sapien, scelerisque
                p.text-justify euiaculis quis, faucibus eu massa. Fusce ut nisl pulvinar, ultrices est in, pharetra felis. Nam in purus ut velit ultricies sodales. Praesent rutrum, massa sit amet gravida pharetra, ipsum metus elementum ex
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p lla. Vivamus suscipit semper est sit amet vehicula. Morbi vitae
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p lla. Vivamus suscipit semper est sit amet vehicula. Morbi vitae
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p lla. Vivamus suscipit semper est sit amet vehicula. Morbi vitae