extends ../layout/index

block contenido
    main.container.mt-5
        h1.text-center.mb-5 #{pagina}
        .row
            .col-md-4
                .card
                    .card-title
                    h1 #{testimonio.title}                
            .col-md-4
                .card
                    .card-title
                    h1 titulo
            .col-md-4
                .card
                    .card-title
                    h1 titulo
        .row
            .col-md-12

                .row.justify-content-center
                    .col-md-8
                        form
                            .form-group
                                label(for="nombre") Nombre
                                input(id="nombre", name="nombre", class="form-control", placeholder="Su nombre",type="text")
                            .form-group
                                label(for="correo") Correo Electronico
                                input(id="correo", name="correo", class="form-control", placeholder="Su correo",type="email")       
                            .form-group
                                label(for="mensaje") mensaje
                                textarea#mensaje(name="mensaje", cols="30", rows="5", class="form-control")    
                            .form-group
                                input(type="submit", value="agregar" class="btn btn-success btn-block")                  